<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopEgypt</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identity-auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopEgypt.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="shortcut icon" href="~/logo.png" type="image/x-icon" />

    @RenderSection("Styles", required: false)
</head>
<body>
    @await Component.InvokeAsync("Header")

    <main role="main">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
    $(document).ready(function () {

        @if (TempData["Success"] != null)
        {
            <text>
                toastr.success("@TempData["Success"]");
            </text>
        }

        @if (TempData["Error"] != null)
        {
            <text>
                toastr.error("@TempData["Error"]");
            </text>
        }

        @if (TempData["Info"] != null)
        {
            <text>
                toastr.info("@TempData["Info"]");
            </text>
        }

        @if (TempData["Warning"] != null)
        {
            <text>
                toastr.warning("@TempData["Warning"]");
            </text>
        }

        });
    </script>
</body>
</html>
